<div class="container">
    <div class="card mt-5"  *ngIf='user'>
        <div class="title">
            <ul>
                <span class="material-icons home-icon">home</span><li><a (click)='navigateHome()'> Home</a></li>
                <span class="material-icons book-icon">book</span><li><a (click)='navigateRepos()'> Repositories</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-1 body-div">
                <div class="profile">
                    <img src="{{ user.avatar_url }}" class=" profile-icon">
                </div>
            </div>
            <div class="col username">
                {{ user.name }}
            </div>
        </div>
        <div class="row description-div">
            <div class="col">
                {{ user.bio }}
            </div>
        </div>
        <div class="row people">
            <div class="col-5 col-sm-2">
                <span class="material-icons people-icon">people_outline</span>
                <span> {{user.followers }} Followers</span> 
            </div>
            <div class="col">
                <span class="material-icons person-icon">person_outline</span>
                <span>{{ user.following }} Following</span> 
            </div>

        </div>
    </div>
</div>
