<div class="container">
    <div class="card mt-5">
        <div class="title">
            <ul>
                <li>Home</li>
                <li>Repositories</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-1 body-div">
                <div class="profile">
                    <span class="material-icons profile-icon">account_circle</span>
                </div>
            </div>
            <div class="col username">
                Grishon Gikima
            </div>
        </div>
        <div class="row description-div">
            <div class="col">
                I am a full stack developer!
            </div>
        </div>
        <div class="row people">
            <div class="col-5 col-sm-2">
                <span class="material-icons people-icon">people_outline</span>
                <span> 20 Followers</span> 
            </div>
            <div class="col">
                <span class="material-icons person-icon">person_outline</span>
                <span>12 Following</span> 
            </div>

        </div>
        
        
     
    </div>
</div>